 #container11 {
                height: 600px; 
                width: 1000px; 
                margin: 0 auto; 
            }

            .highcharts-tooltip>span {
                padding: 10px;
                white-space: normal !important;
                width: 200px;
            }

           

            .f32 .flag{display:inline-block;height:32px;width:32px;vertical-align:text-top;line-height:32px;background:url(../img/flags32.png) no-repeat;}
.f32 ._African_Union{background-position:0 -32px;}
.f32 ._Arab_League{background-position:0 -64px;}
.f32 ._ASEAN{background-position:0 -96px;}
.f32 ._CARICOM{background-position:0 -128px;}
.f32 ._CIS{background-position:0 -160px;}
.f32 ._Commonwealth{background-position:0 -192px;}
.f32 ._England{background-position:0 -224px;}
.f32 ._European_Union, .f32 .eu{background-position:0 -256px;}
.f32 ._Islamic_Conference{background-position:0 -288px;}
.f32 ._Kosovo{background-position:0 -320px;}
.f32 ._NATO{background-position:0 -352px;}
.f32 ._Northern_Cyprus{background-position:0 -384px;}
.f32 ._Northern_Ireland{background-position:0 -416px;}
.f32 ._Olimpic_Movement{background-position:0 -448px;}
.f32 ._OPEC{background-position:0 -480px;}
.f32 ._Red_Cross{background-position:0 -512px;}
.f32 ._Scotland{background-position:0 -544px;}
.f32 ._Somaliland{background-position:0 -576px;}
.f32 ._Tibet{background-position:0 -608px;}
.f32 ._United_Nations{background-position:0 -640px;}
.f32 ._Wales{background-position:0 -672px;}
.f32 .AND{background-position:0 -704px;}
.f32 .ARF{background-position:0 -736px;}
.f32 .AFG{background-position:0 -768px;}
.f32 .ATG{background-position:0 -800px;}
.f32 .AIA{background-position:0 -832px;}
.f32 .ALB{background-position:0 -864px;}
.f32 .ARM{background-position:0 -896px;}
.f32 .AGO{background-position:0 -928px;}
.f32 .ATA{background-position:0 -960px;}
.f32 .ARG{background-position:0 -992px;}
.f32 .ASM{background-position:0 -1024px;}
.f32 .AUT{background-position:0 -1056px;}
.f32 .AUS{background-position:0 -1088px;}
.f32 .ABW{background-position:0 -1120px;}
.f32 .ALA{background-position:0 -1152px;}
.f32 .AZE{background-position:0 -1184px;}
.f32 .BIH{background-position:0 -1216px;}
.f32 .BRB{background-position:0 -1248px;}
.f32 .BGD{background-position:0 -1280px;}
.f32 .BEL{background-position:0 -1312px;}
.f32 .BFA{background-position:0 -1344px;}
.f32 .BGR{background-position:0 -1376px;}
.f32 .BHR{background-position:0 -1408px;}
.f32 .BDI{background-position:0 -1440px;}
.f32 .BEN{background-position:0 -1472px;}
.f32 .BMU{background-position:0 -1504px;}
.f32 .BRN{background-position:0 -1536px;}
.f32 .BOL{background-position:0 -1568px;}
.f32 .BRA{background-position:0 -1600px;}
.f32 .BHS{background-position:0 -1632px;}
.f32 .BTN{background-position:0 -1664px;}
.f32 .BWA{background-position:0 -1696px;}
.f32 .BLR{background-position:0 -1728px;}
.f32 .BLZ{background-position:0 -1760px;}
.f32 .CAN{background-position:0 -1792px;}
.f32 .COD{background-position:0 -1824px;}
.f32 .CAF{background-position:0 -1856px;}
.f32 .COG{background-position:0 -1888px;}
.f32 .CHE{background-position:0 -1920px;}
.f32 .CIV{background-position:0 -1952px;}
.f32 .COK{background-position:0 -1984px;}
.f32 .CHL{background-position:0 -2016px;}
.f32 .CMR{background-position:0 -2048px;}
.f32 .CHN{background-position:0 -2080px;}
.f32 .COL{background-position:0 -2112px;}
.f32 .CRI{background-position:0 -2144px;}
.f32 .CUB{background-position:0 -2176px;}
.f32 .CPV{background-position:0 -2208px;}
.f32 .CYP{background-position:0 -2240px;}
.f32 .CZE{background-position:0 -2272px;}
.f32 .DEU{background-position:0 -2304px;}
.f32 .DJI{background-position:0 -2336px;}
.f32 .DNK{background-position:0 -2368px;}
.f32 .DMA{background-position:0 -2400px;}
.f32 .DOM{background-position:0 -2432px;}
.f32 .DZA{background-position:0 -2464px;}
.f32 .ECU{background-position:0 -2496px;}
.f32 .EST{background-position:0 -2528px;}
.f32 .EGY{background-position:0 -2560px;}
.f32 .ESH{background-position:0 -2592px;}
.f32 .ERI{background-position:0 -2624px;}
.f32 .ERP{background-position:0 -2656px;}
.f32 .ETH{background-position:0 -2688px;}
.f32 .FIN{background-position:0 -2720px;}
.f32 .FJI{background-position:0 -2752px;}
.f32 .FSM{background-position:0 -2784px;}
.f32 .FRO{background-position:0 -2816px;}
.f32 .FRA{background-position:0 -2848px;}  .f32 .bl, .f32 .cp, .f32 .mf, .f32 .yt{background-position:0 -2848px;}
.f32 .GAB{background-position:0 -2880px;}
.f32 .GBR{background-position:0 -2912px;}  .f32 .sh{background-position:0 -2912px;}
.f32 .GRD{background-position:0 -2944px;}
.f32 .GEO{background-position:0 -2976px;}
.f32 .GGY{background-position:0 -3008px;}
.f32 .GHA{background-position:0 -3040px;}
.f32 .GIB{background-position:0 -3072px;}
.f32 .GRL{background-position:0 -3104px;}
.f32 .GMB{background-position:0 -3136px;}
.f32 .GIN{background-position:0 -3168px;}
.f32 .GLP{background-position:0 -3200px;}
.f32 .GNQ{background-position:0 -3232px;}
.f32 .GRC{background-position:0 -3264px;}
.f32 .GTM{background-position:0 -3296px;}
.f32 .GUM{background-position:0 -3328px;}
.f32 .GNB{background-position:0 -3360px;}
.f32 .GUY{background-position:0 -3392px;}
.f32 .HKG{background-position:0 -3424px;}
.f32 .HND{background-position:0 -3456px;}
.f32 .HRV{background-position:0 -3488px;}
.f32 .HTI{background-position:0 -3520px;}
.f32 .HUN{background-position:0 -3552px;}
.f32 .IDN{background-position:0 -3584px;}
.f32 .MCO{background-position:0 -3584px;}
.f32 .IRL{background-position:0 -3616px;}
.f32 .ISR{background-position:0 -3648px;}
.f32 .IMN{background-position:0 -3680px;}
.f32 .IND{background-position:0 -3712px;}
.f32 .IRQ{background-position:0 -3744px;}
.f32 .IRN{background-position:0 -3776px;}
.f32 .ISL{background-position:0 -3808px;}
.f32 .ITA{background-position:0 -3840px;}
.f32 .JEY{background-position:0 -3872px;}
.f32 .JAM{background-position:0 -3904px;}
.f32 .JOR{background-position:0 -3936px;}
.f32 .JPN{background-position:0 -3968px;}
.f32 .KEN{background-position:0 -4000px;}
.f32 .KGZ{background-position:0 -4032px;}
.f32 .KHM{background-position:0 -4064px;}
.f32 .KIR{background-position:0 -4096px;}
.f32 .COM{background-position:0 -4128px;}
.f32 .KEN{background-position:0 -4160px;}
.f32 .PRK{background-position:0 -4192px;}
.f32 .KOR{background-position:0 -4224px;}
.f32 .KWT{background-position:0 -4256px;}
.f32 .CYM{background-position:0 -4288px;}
.f32 .KAZ{background-position:0 -4320px;}
.f32 .LAO{background-position:0 -4352px;}
.f32 .LBN{background-position:0 -4384px;}
.f32 .LCA{background-position:0 -4416px;}
.f32 .LIE{background-position:0 -4448px;}
.f32 .LKA{background-position:0 -4480px;}
.f32 .LBR{background-position:0 -4512px;}
.f32 .LSO{background-position:0 -4544px;}
.f32 .LTU{background-position:0 -4576px;}
.f32 .LUX{background-position:0 -4608px;}
.f32 .LVA{background-position:0 -4640px;}
.f32 .LBY{background-position:0 -4672px;}
.f32 .MAR{background-position:0 -4704px;}
.f32 .MDA{background-position:0 -4736px;}
.f32 .MNE{background-position:0 -4768px;}
.f32 .MDG{background-position:0 -4800px;}
.f32 .MHL{background-position:0 -4832px;}
.f32 .MKD{background-position:0 -4864px;}
.f32 .MLI{background-position:0 -4896px;}
.f32 .MMR{background-position:0 -4928px;}
.f32 .MNG{background-position:0 -4960px;}
.f32 .MAC{background-position:0 -4992px;}
.f32 .MTQ{background-position:0 -5024px;}
.f32 .MRT{background-position:0 -5056px;}
.f32 .MSR{background-position:0 -5088px;}
.f32 .MLT{background-position:0 -5120px;}
.f32 .MUS{background-position:0 -5152px;}
.f32 .MDV{background-position:0 -5184px;}
.f32 .MWI{background-position:0 -5216px;}
.f32 .MEX{background-position:0 -5248px;}
.f32 .MYS{background-position:0 -5280px;}
.f32 .MOZ{background-position:0 -5312px;}
.f32 .NAM{background-position:0 -5344px;}
.f32 .NCL{background-position:0 -5376px;}
.f32 .NER{background-position:0 -5408px;}
.f32 .NGA{background-position:0 -5440px;}
.f32 .NIC{background-position:0 -5472px;}
.f32 .NLD{background-position:0 -5504px;}  .f32 .bq{background-position:0 -5504px;}
.f32 .NOR{background-position:0 -5536px;}  .f32 .bv, .f32 .nq, .f32 .sj{background-position:0 -5536px;}
.f32 .NPL{background-position:0 -5568px;}
.f32 .NRU{background-position:0 -5600px;}
.f32 .NZL{background-position:0 -5632px;}
.f32 .OMN{background-position:0 -5664px;}
.f32 .PAN{background-position:0 -5696px;}
.f32 .PER{background-position:0 -5728px;}
.f32 .PYF{background-position:0 -5760px;}
.f32 .PNG{background-position:0 -5792px;}
.f32 .PHL{background-position:0 -5824px;}
.f32 .PAK{background-position:0 -5856px;}
.f32 .POL{background-position:0 -5888px;}
.f32 .PRI{background-position:0 -5920px;}
.f32 .PSE{background-position:0 -5952px;}
.f32 .PRT{background-position:0 -5984px;}
.f32 .PLW{background-position:0 -6016px;}
.f32 .PRY{background-position:0 -6048px;}
.f32 .QAT{background-position:0 -6080px;}
.f32 .REU{background-position:0 -6112px;}
.f32 .ROU{background-position:0 -6144px;}
.f32 .SRB{background-position:0 -6176px;}
.f32 .RUS{background-position:0 -6208px;}
.f32 .RWA{background-position:0 -6240px;}
.f32 .SAU{background-position:0 -6272px;}
.f32 .SLB{background-position:0 -6304px;}
.f32 .SYC{background-position:0 -6336px;}
.f32 .SDN{background-position:0 -6368px;}
.f32 .SWE{background-position:0 -6400px;}
.f32 .SGP{background-position:0 -6432px;}
.f32 .SVN{background-position:0 -6464px;}
.f32 .SVK{background-position:0 -6496px;}
.f32 .SLE{background-position:0 -6528px;}
.f32 .SMR{background-position:0 -6560px;}
.f32 .SEN{background-position:0 -6592px;}
.f32 .SOM{background-position:0 -6624px;}
.f32 .SUR{background-position:0 -6656px;}
.f32 .STP{background-position:0 -6688px;}
.f32 .SLV{background-position:0 -6720px;}
.f32 .SYR{background-position:0 -6752px;}
.f32 .SWZ{background-position:0 -6784px;}
.f32 .TCA{background-position:0 -6816px;}
.f32 .TCD{background-position:0 -6848px;}
.f32 .TGO{background-position:0 -6880px;}
.f32 .THA{background-position:0 -6912px;}
.f32 .TJK{background-position:0 -6944px;}
.f32 .TLS{background-position:0 -6976px;}
.f32 .TKM{background-position:0 -7008px;}
.f32 .TUN{background-position:0 -7040px;}
.f32 .TON{background-position:0 -7072px;}
.f32 .TUR{background-position:0 -7104px;}
.f32 .TTO{background-position:0 -7136px;}
.f32 .TUV{background-position:0 -7168px;}
.f32 .TWN{background-position:0 -7200px;}
.f32 .TZA{background-position:0 -7232px;}
.f32 .UKR{background-position:0 -7264px;}
.f32 .UGA{background-position:0 -7296px;}
.f32 .USA{background-position:0 -7328px;}
.f32 .URY{background-position:0 -7360px;}
.f32 .UZB{background-position:0 -7392px;}
.f32 .VAT{background-position:0 -7424px;}
.f32 .VCT{background-position:0 -7456px;}
.f32 .VEN{background-position:0 -7488px;}
.f32 .VGB{background-position:0 -7520px;}
.f32 .VIR{background-position:0 -7552px;}
.f32 .VNM{background-position:0 -7584px;}
.f32 .VUT{background-position:0 -7616px;}
.f32 .WSM{background-position:0 -7648px;}
.f32 .YEM{background-position:0 -7680px;}
.f32 .ZAF{background-position:0 -7712px;}
.f32 .ZMB{background-position:0 -7744px;}
.f32 .ZWE{background-position:0 -7776px;}
.f32 .sx{background-position:0 -7808px;}
.f32 .cw{background-position:0 -7840px;}
.f32 .SSD{background-position:0 -7872px;}
.f32 .NIU{background-position:0 -7904px;}


    </style>